In [39]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('E:\\github\\DS-Olympus-\\machineLearning\\clothesSizePrediction\\Dataset\\final_test.csv')

In [5]:
data.head()

   weight   age  height size
0      62  28.0  172.72   XL
1      59  36.0  167.64    L
2      61  34.0  165.10    M
3      65  27.0  175.26    L
4      62  45.0  172.72    M

In [6]:
data.shape

(119734, 4)

In [7]:
# null values??
data.isnull().sum()

weight      0
age       257
height    330
size        0
dtype: int64

In [8]:
data.drop("age", axis=1, inplace=True)

In [9]:
# height --> mean()
data = data.fillna({"height": data["height"].mean()})
data.isnull().sum()

weight    0
height    0
size      0
dtype: int64

In [11]:
# features & target
features = data[["weight","height"]]
target = data['size']

In [12]:
# feature scaling
scaler = MinMaxScaler()
new_features = scaler.fit_transform(features)
new_features

array([[0.35087719, 0.63636364],
       [0.3245614 , 0.54545455],
       [0.34210526, 0.5       ],
       ...,
       [0.34210526, 0.63636364],
       [0.45614035, 0.54545455],
       [0.42105263, 0.54545455]])

In [37]:
# model & fit
x_train, x_test, y_train, y_test = train_test_split(new_features,target,random_state=123)

In [24]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [25]:
y_pred = model.predict(x_test)
cr = classification_report(y_test,y_pred)
print("-------------------CLASSIFICATION REPORT--------------------")
print(cr)

-------------------CLASSIFICATION REPORT--------------------
              precision    recall  f1-score   support

           L       0.33      0.19      0.24      4332
           M       0.47      0.61      0.53      7356
           S       0.48      0.49      0.49      5387
          XL       0.42      0.41      0.41      4892
         XXL       0.00      0.00      0.00        16
         XXS       0.55      0.43      0.48      2485
        XXXL       0.74      0.77      0.75      5466

    accuracy                           0.51     29934
   macro avg       0.43      0.41      0.41     29934
weighted avg       0.50      0.51      0.50     29934